<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Weather Visualization</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/latitude_style.css">

</head>

<body>
    <nav class="navbar navbar-default navbar-expand-lg">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="latitude.html">Latitude</a>
          </div>
    
            <ul class="nav navbar-nav navbar-right">
                <li><a href="../../index.html">Portfolio</a></li>
                <li><a href="data.html">Data <span class="sr-only">(current)</span></a></li>
                <li><a href="comparison.html">Comparison</a></li>
              <li class="dropdown">
                <a href="latitude.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="max_temp.html">Max Temperature</a></li>
                  <li><a href="humidity.html">Humidity</a></li>
                  <li><a href="cloudiness.html">Cloudiness</a></li>
                  <li><a href="wind_speed.html">Wind Speed</a></li>
                </ul>
              </li>
            </ul>
        </div>
</nav>


<div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-sm-12">
                <h1>A Study of Weather Variance by Latitude</h1>
                <hr>
                <img src="../../images/max_temp.png" alt="Landing Pic"  class="landimg">
                <p style="font-size:120%;">"This study was conducted to analyze the variance in weather along earth’s latitudinal axis. Measurements were collected from 
                    more than 500 random cities across the globe using the OpenWeatherMap API. Four data points were queried for each city: maximum 
                    temperature, cloudiness, wind speed, and humidity. The analysis and visualizations were performed using Matplotlib and Seaborn. "</p>
                <br>
                <p style="font-size:120%;">"The data set used in the analysis is located under the Data tab. Detailed descriptions and analysis for each plot can be found
                     by clicking on one of the visualizations or by navigating the Plots tab. A limitation of the study was the narrow time frame for 
                     which data was collected. The study could be improved by collecting data each day for a month. The study was further limited by 
                     the data collection methods. The cities were random, but the gathering data from a city and not random geographic coordinates 
                     introduces a selection bias. To eliminate some of the bias, the geographic coverage of the cities would need to be examined, 
                     or the data source would have to be reconsidered. "</p>
            </div>
            <div class="col-lg-4 col-sm-12">
                    <h2>Visualizations</h2>
                    <hr>
                    <div class="row">
                            <a href="max_temp.html"><img src="../../images/max_temp.png" alt="Max Temp"></a>
                            <a href="humidity.html"><img src="../../images/humidity.png" alt="Humidity"></a>
                    </div> 
                    <div class="row">
                            <a href="cloudiness.html"><img src="../../images/cloudiness.png" alt="Cloudiness"></a>
                            <a href="wind_speed.html"><img src="../../images/wind_speed.png" alt="Wind Speed" ></a>
                    </div>
            </div>       
    </div>
</div>


</body>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</html>